.viewresponse{
    height: 20rem;

    width: 67.5rem;

    /* border: 0.1px solid black ; */

    border-radius: 10px;

  

    margin-left: 1rem;

    margin-top: 8.4rem;

    /* background-image: url('C:\Users\tballeda\mui_practice\public\Slight Ocean View.jpg');
    background-size: cover; */

}