.commonbg{
    /* background-image: url('C:\Users\tballeda\mui_practice\public\Steel Gray.jpg');
    background-size: cover; */
/* 
    background-color: rgb(236, 236, 236); */
    background-color: white;






}